</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Hecho con amor ❤️ por DCC Develops</p>
    <a class="iconos-rs" href="https://twitter.com/DanielC94171367"><i class="fab fa-twitter"></i></a>
    <a class="iconos-rs" href="https://www.facebook.com/profile.php?id=100026789886010"><i class="fab fa-facebook-f"></i></a>
    <a class="iconos-rs" href="https://www.instagram.com/daniel_cardonac/?hl=es-la"><i class="fab fa-instagram"></i></a>
    <a class="iconos-rs" href="mailto:dani2005cardona@gmail.com"><i class="fas fa-envelope"></i></a>
  </div>

</div>
  <script src="/javascript/index.js" charset="utf-8"></script>

</body>
</html>
