<%- include("parshal/header"); -%>
    <h1>Bienvenido a este maravilloso menú</h1>
    <p>1) Listar Productos</p>
    <p>2) Listar Productos Alfabeticamente</p>
    <p>3) Añadir Producto</p>
    <p>4) Eliminar Producto</p>
    <p>5) Buscar productos con características parecidas</p>
    <p>0) Salir</p>
    <form class="" action="/" method="post">
    <div class="form-group">
      <label># Menú</label>
      <input class="form-control" type="text" name="numComando">
    </div>
    <button class="btn btn-primary" type="submit" name="button">Submit</button>
  </form>
<%- include("parshal/footer"); -%>
