<%- include("parshal/header"); -%>

  <h1>Productos Encontrados</h1>
  <%  for (var i = 0; i < itemsEncontrados.length; i++) { %>

  <h3><%=itemsEncontrados[i]%></h3>
<% } %>


<%- include("parshal/footer"); -%>
