<%- include("parshal/header"); -%>

  <h1>Añadir Producto</h1>
  <form class="" action="/add" method="post">
      <div class="form-group">
        <label>Nombre del Producto</label>
        <input class="form-control" type="text" name="nombreProducto">
        <label>Precio en doláres</label>
        <input class="form-control" type="text" name="precioProducto">
        
      </div>
      <button class="btn btn-primary" type="submit" name="button">Subir</button>
    </form>



<%- include("parshal/footer"); -%>
