<%- include("parshal/header"); -%>

  <h1>Eliminar Producto</h1>
  <form class="" action="/remove" method="post">
      <div class="form-group">
        <label>Nombre del Producto</label>
        <input class="form-control" type="text" name="nombreProductoBorrar">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Eliminar</button>
    </form>



<%- include("parshal/footer"); -%>
