<%- include("parshal/header"); -%>
    <h1>Opción 2</h1>
    <ol>


    <%  for (var i = 0; i < productos.length; i++) { %>

    <li><%=productos[i]%></li>
  <% } %>

  </ol>
<%- include("parshal/footer"); -%>
